service: msu-liability-api-service
useDotEnv : true
plugins:
  - serverless-offline
provider:
  name: aws
  runtime: nodejs20.x
  environment:
    JWT_SECRET : ${env:JWT_SECRET}
    DATABASE_NAME : ${env:DATABASE_NAME}
    DATABASE_HOST : ${env:DATABASE_HOST}
    DB_USER : ${env:DB_USER}
    DB_PASSWORD : ${env:DB_PASSWORD}
    NODE_ENV : ${env:NODE_ENV}
  region: us-east-2 # Choose your desired region
  # Attach necessary IAM roles/policies here
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "lambda:InvokeFunction"
            - "apigateway:*"
          Resource: "*"
package:
  # Exclude all files first
  individually: true
  patterns:
    - '!**/*'
    # Explicitly include the built JS file
    - 'dist/**'
    # Include node_modules if you marked any driver (like mssql) as external
    - 'node_modules/**'
    # Include package.json if you need it for runtime information
    - 'package.json'
    - 'index.js' 
    - '.env'
functions:
  api:
    handler: dist/lambda.handler
    events:
      - http:
          method: ANY
          path: /{proxy+}
          cors: true