service: msu-liability-api-service

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-2 # Choose your desired region
  # Attach necessary IAM roles/policies here
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "lambda:InvokeFunction"
            - "apigateway:*"
          Resource: "*"
package:
  # Exclude all files first
  individually: true
  patterns:
    - '!**/*'
    # Explicitly include the built JS file
    - 'dist/**'
    # Include node_modules if you marked any driver (like mssql) as external
    - 'node_modules/**'
    # Include package.json if you need it for runtime information
    - 'package.json'
    - 'index.js' 
    - '.env'
functions:
  api:
    handler: index.handler
    events:
      - http:
          method: ANY
          path: /{proxy+}
      - http:
          method: ANY
          path: /